.panelinfoclient{
    display: flex;
}
.SignosVitales{
    width: 50%;
}
.CardInfoUser{
    width: 50%;
}
.SignosVitales ul{
    display: flex;
    flex-direction: column;
}
.grafica{
    width: 50%
}
.contenedorGrafica{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}