*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    height: 100vh;
}
.nav{
    width: 100%;
    height: 70px;
    background-color:#00B4EC;
    display: flex;
    justify-content: flex-end;
}
.nav ul{
    display: flex;
    align-self: baseline;
}
.salir{
    color: white;
    padding: 20px;
}
.icon{
    font-size:22px;
    margin:5px
}
.principal{
    display: flex;
    width: 100%;
    height: 550px;
    
}
.logo{
    width:200px;
    
}
.panel{
    width: 95%;
    background-color:white;
    border-radius: 20px;
    margin-right: 10px;
    color: #000;
    margin: 0 auto;
}
.bienvenido{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 40px 0px;
}
.bienvenido h1{
    font-size:45px;
    font-weight:700;
    color: rgba(46, 45, 45, 0.925);
    border-bottom: 5px solid #c7204f;
    padding-bottom: 5px;
}

.paneldown{
    display: flex;
}
.sintomas{
    width: 60%;
    
    display: flex;
    justify-content:center;
    align-items: center;
}
.sintomas p{
    font-size:20px
}
.actualizaciones{
    width: 40%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #c7204f;
    border-radius:20px
}
.actualizaciones ul{
    display: flex;
    flex-direction: column;
}
.actualizaciones p{
    font-size: 18px;
}

.verregistros{
    color:white;
    padding:10px;
    background-color:#c7204f;
    border-radius: 5px;
    border:none
}
.verregistros:hover{
    background-color:#cc023b;
    color:white;
    text-decoration: none;
}
.cardprofile{
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius:20px;
    margin: 0 auto;
    
}
.cardprofile h1{
    font-size:45px;
    font-weight:700;
}
.cardprofile p{
    font-size:18px;
    font-weight: 400;
}
.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 50px;
}
.volvermenu{
    margin: 50px;
}
.profilecomponent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.grafica{
    width: 50%
}
.contenedorGrafica{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
}